@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    --green: #0aa;
    --black: #011414;
    --white: #fff
}

nav{
    display: flex;
    padding: 25px 30px;
    justify-content: space-between;
}

.logo a{ 
    text-decoration: none;
    color: var(--green);
    font-size: 19px;
    font-weight: 600;
}

.navMenu{
    display: inline-flex;
    gap: 15px;
}

.navMenu span{
    color: var(--green);
}

.navMenu li{
list-style-type: none;
}

.navMenu li a{
    text-decoration: none;
    color: var(--black);
}

.navMenu li a:hover{
    border-bottom: 2px solid var(--black);
}

.icons img{
    width: 20px;
}

.hamburger{
    display: none;
}

.change .bar1{
    transform: translate(0, 11px) rotate(-45deg);
}

.change .bar2{
    opacity: 0;
}

.change .bar3{
    transform: translate(0, -11px) rotate(45deg);
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--black);
    margin: 5px 0;
    border-radius: 2px;
    transition: 0.4s;
  }

.hero{
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.heroText h1{
    font-size: 52px;
    font-weight: 700;
}

.heroText h1 span{
    color: var(--green);
}

.heroText p{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}

.heroText button{
    margin-top: 25px;
    padding: 10px 30px;
    background-color: var(--green);
    color: var(--white);
    border: none;
    border-radius: 8px;
}

.heroText button:hover{
    background-color: #011414;
    color: var(--green);
    transition: 1s;
    cursor: pointer;
}


.heroImg{
    width: 400px;
    height: 300px;
}
.heroImg img{
    width: 100%;
}

.section2{
    padding: 25px 30px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section2 hr{
    display: none;
}

.section2 .img2{
    width: 400px;
    height: 300px;
}

.section2 img{
    width: 90%;
}

.section2 h3{
    font-size: 30px;
    font-weight: 700;
}

.section2 p{
    font-size: 16px;
    margin-top: 10px;
}

.section2 button{
    margin-top: 18px;
    padding: 10px 30px;
    border: none;
    border-radius: 8px;
    background-color: var(--green);
    color: var(--white);
}

.section2 button:hover{
    background: transparent;
    color: var(--black);
    border: 1px solid #0aa;
    cursor: pointer;
    transition: 1s;
}

.section3{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 15px;
}

.heading{
    margin-top: 70px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}

.section3 .box{
    width: 300px;
    background-color: var(--white);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    padding: 20px;
    border-radius: 10px;
}

.img{
    display: flex;
    justify-content: center;
}

.box img{
    width: 80%;
}

.section3 .row .box .img img{
    width: 70%;
}

.section3 .text h4{
    font-weight: 600;
    font-size: 16px;
}

.section3 .text p{
    font-weight: 300;
    font-size: 14px;
    margin-top: 5px;
}

 .btns{
    display: flex;
    justify-content: space-between;
    margin-top: 8px;
}

.section3 .text button{
    padding: 8px 20px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
}

.section3 .text button:hover{
    background: transparent;
    color: var(--black);
    border: 1px solid #0aa;
    transition: 1s;
}

.section3 .text .outline{
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--black);
}

.section3 .text .outline:hover{
    background-color: var(--black);
    color: var(--green);
    transition: 1s;
}

.section4{
    padding: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.section4 .box{
    width: 300px;
    height: 395px;
    background-color: var(--white);
    box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border-radius: 10px;
}

.section4 .box .img{
    width: 300px;
    height: 200px;
    background-color: aquamarine;
    background: url(./assets/blue-sofa-gray-armchair-spacious-living-room-interior-with-plants-shelves-near-wooden-table_41470-1573.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.section4 .txt{
    margin: 0 15px;
}

.section4 .box .img .layer{
    width: 300px;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.1);
}

.section4 .button{
    position: absolute;
    margin-top: -2rem;
    margin-left: 6rem;
}

.section4 button{
    margin-top: 25px;
    padding: 5px 40px;
    border: none;
    border-radius: 5px;
    background-color: var(--green);
    color: var(--white);
}

.section4 button:hover{
    cursor: pointer;
    border: 1px solid var(--white);
}

.section4 h4{
    margin-top: 25px;
    font-size: 17px;
    margin-top: 30px;
}

.section4 p{
    margin-top: 5px;
    font-size: 14px;
    font-weight: 300;
}

.section4 .txt a{
    font-size: 12px;
    float: right;
    text-decoration: none;
    color: var(--green);
}

.news{
    margin: 70px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsletter{
    width: 700px;
    height: 140px;
    padding: 20px;
    border-radius: 8px;
    background-color: var(--green);
}

.newsflex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsflex h3{
    color: var(--white);
    font-weight: 400;
    font-size: 26px;
}

.newsflex input{
    padding: 3px 40px;
    border: none;
    outline: none;

}

.newsbtn{
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
}

.newsbtn button{
    padding: 4px 25px;
    border: none;
}


footer{
    padding: 15px 0;
    background-color: var(--black);
    color: var(--white);
}

footer p{
    text-align: center;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 1px;
}


/* MEDIA QUERY.. */
  @media screen and (max-width: 600px) {
    .hamburger{
        display: block;
    }

    .navMenu, .icons{
        display: none;
    }

    .hero{
        display: block;
        margin-top: 10px;
    }

    .heroImg{
        width: 300px;
    }

    .heroImg img{
        width: 80%;
    }

    .heroText h1{
        font-size: 32px;
    }

    .section2{
        display: block;
        margin-top: 70px;
    }

    .section2 hr{
        display: block;
    }

    .section2 .img2{
        width: 300px;
        display: grid;
    }

    .section2 .text2 h3{
        font-size: 26px;
        margin-top: 30px;
    }

    .section2 .text2 p{
        font-size: 16px;
    }
    
    .section3{
        display: grid;
    }

    .text h4{
        font-size: 26px;
    }



    .section3 .rows{
        margin-top: 20px;
    }

    .box{
        gap: 15px;

    }

    .heading{
        font-size: 26px;
    }



  }


  @media screen and (max-width: 768px) {

  }